<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <h1>
        Username: <%=currentUser.username%>
    </h1>

    <a href="/logout"><button>Logout</button></a>

    <a href="/post-form">
        Create new post
    </a>


    <% posts.forEach(post=> { %>

        <div class="card">
            <h2>
                <%= post.title %>
            </h2>
            <p>
                <%= post.body %>
            </p>
            <span class="date">Posted on <%= post.date %></span>
            <%if(post.user.toString()===currentUser._id.toString()) { %>
                <a href="/post-form-update/<%=post._id%>">update</a>
                <form action="/posts/<%=post._id%>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
                <% } %>
        </div>
        <% }) %>
</body>

</html>